<% if @company.categories.blank? %>
	<p style="text-align: center;">No categories yet. Add one by typing 'task@category_name' in the above text field</p>
<% else %>
<div style="text-align: right; width:860px;">
<%= link_to 'Clear selected', destroy_multiple_tasks_path, :remote => true,  :method => :delete %>
</div>
	<% @company.categories.each do |category| %>
		<div class="category_cell">

		<ul class="sortable"><div class="category_head"><%= category.name %>
		 
		 <%= link_to "Delete", category, :action => "destroy", :controller => "categories", :method => :delete , :remote => true %> </div>
			<% category.tasks.each do |task| %>
				<%= render(:partial => "categories/task_cell", :locals => {:task => task}) %>								
			<% end %>			
		</ul>

			<div id="task_count">
				<%= pluralize(Category.joins(:tasks).where(tasks: {status: true}, :id => category.id).count, "thing")  %> left 
			</div>
		</div>
	<% end %>
<% end %>
